.footer-wrapper  footer{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
footer .footer-left-copy ul {
    display: flex;
    gap: 54px;
    font-family: "Open Sans", sans-serif;
    font-size: 12px;
    color: var(--blue);
    font-weight: 700;
}
.footer-left-copy ul li a {
    position: relative;
}
.footer-left-copy ul li a::before {
    content: "";
    width: 0;
    height: 2px;
    right: 0;
    position: absolute;
    bottom: -2px;
    background-color: var(--blue);
    transition: .3s all ease-in-out;
}
.footer-left-copy ul li a:hover::before {
    width: 100%;
    left: 0;
}
footer .footer-right ul {
    display: flex;
    gap: 17px;
}