.slider-wrapper {
  height: 74vh;
  display: flex !important;
  align-items: center;
  justify-content: center;
}
.slide {
  display: flex;
  position: relative;
  width: 100%;
}
.slide-content {
  max-width: 372px;
}
.slide-content {
  font-family: "Open Sans", sans-serif;
  color: var(--white);
  text-align: left;
  overflow: hidden;
}
.slide-content h1 {
  font-size: 64px;
  line-height: 80px;
  font-weight: 700;
  letter-spacing: 3px;
  margin-bottom: 60px;
}
.slide-content p {
  font-size: 16px;
  font-weight: 300;
  margin-bottom: 110px;
  max-width: 184px;
  text-align: left;
  line-height: 24px;
}
.slide-content span {
  font-size: 17px;
  font-weight: 600;
  position: relative;
  margin-left: 46px;
}
.slide-content span::before {
  content: "";
  width: 36px;
  height: 1px;
  background-color: var(--white);
  position: absolute;
  top: 50%;
  left: -45px;
}
.slide-img {
  position: absolute;
  z-index: -1;
  top: -110px;
  max-width: 863px;
  right: 4px;
  height: 612px;
  overflow: hidden;
}
.slide-img img {
  height: 100%;
  object-fit: cover;
}
